@import "config";

body {
	// background-color: $body-dark-primary;
	background-color: blue;
}

@keyframes loading {
	0% {
		left: 0%;
		right: 100%;
	}
	25% {
		left: 0%;
	}
	30% {
		right: 0%;
	}
	100% {
		left: 100%;
		right: 0%;
	}
}

.Home-route {
	#Scene-container {
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}