@import "config";

body {
	// background-color: $body-dark-primary;
	background-color: blue;
}

@keyframes loading {
	0% {
		left: 0%;
		right: 100%;
	}
	25% {
		left: 0%;
	}
	30% {
		right: 0%;
	}
	100% {
		left: 100%;
		right: 0%;
	}
}

.Home-route {
	#loader {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: black;
		display: flex;
		justify-content: center;
		> .wrapper {
			> h1 {
				text-align: center;
			}
			> button {
				opacity: 0;
			}
			> .loader {
				width: 20vw;
				height: 0.25rem;
				background-color: #eee;
				border-radius: 0.125rem;
				position: relative;
				overflow: hidden;
				&:after {
					content: " ";
					background-color: $primary;
					position: absolute;
					left: 0%;
					right: 100%;
					animation: loading 2s ease infinite;
					height: 100%;
					border-radius: 0.125rem;
				}
			}
		}
	}
	#Scene-container {
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}