@import "config";
@import "components";

@font-face {
	font-family: Outfit-Regular;
	src: url("fonts/Outfit/Outfit-Regular.ttf");
}

html, html > body, #root {
	@include size(100%);
}

* {
	text-decoration: inherit;
	outline: none;
	border: none;
	box-sizing: border-box;
	align-items: center;
	list-style: none;
	&[component="button"] { @extend %button; }
}

button, a {
	cursor: pointer;
	background-color: transparent;
}

body {
	padding: 0;
	margin: 0;
	color: $color-dark-primary;
	font-family: Outfit-Regular, sans-serif;
}